.h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #ffffff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-items:center;
  align-items: stretch;
}

.card {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
}